body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

#controls {
    margin-bottom: 20px;
}

#timers-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* タイマーが横並びになります */
}

.timer {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 220px; /* タイマーの横幅を指定 */
}
